body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gugi', sans-serif;
    font-size: 18px;
    
}

.cabecalho-top{
    display: flex;
    /*background-color: #368fd3;*/
    height: 150px;
    align-items: center;
    justify-content: center;
}
.menu{
    font-family: 'Gugi', sans-serif;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: center;
   font-size: 30px;
   font-weight: bold;
    
}
.menu .menu-item{
    text-decoration: none;
}
.menu .menu-item .menu-item-link{
    text-decoration: none;
    color: black;
}
.menu .menu-item .menu-item-link :hover{
    background-color: #4CAF50;
}
.titulo{
    text-align: center;
}

.container-imagemPrincipal{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.container-imagemPrincipal .imagem-principal-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    max-height: 35%;

}

.container-imagemPrincipal .imagem-principal-link .imagem-principal-centralizada{
    
    width: auto;
    height: auto;
    border-width: 10px;
    border-style:solid;
    border-color: #368fd3;
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

 .btnChamar {
    display: flex;
    background-color: #4CAF50;
    margin-top: 15px;
    margin-left: 15px;
    width:40%;
    height: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.flash{
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes flash {
    0%{
        background-color: #4CAF50;
    }
    50%{
        background-color: #368fd3;

    }
    100%{
        background-color: #4CAF50;
    }
    
}

.container-imagemPrincipal :hover{
    transition-delay: 0.5ms;
    transition-duration: 1s; 
    max-width: 40%;
    max-height: 40%;

}

.sessaoServicos{
    display: flex;
    justify-content: space-around;
}
.sessaoServicos .servicos{
    max-width: 30%;
    border-style: solid;
    border-color: #368fd3;
    border-radius: 1px;
    text-align: center;

}
.sessaoServicos .servicos .listaServicos {
    list-style: none;
}
.sessaoServicos .servicos .listaServicos .listaServicos-item {
    text-align: left;
}


.container-textoDeEfeito{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: left;
    max-width: 80%;


}
.container-textoDeEfeito .tituloComIcone{
    display: flex;
    align-items: center;

}

.containerFooter{
    display: flex;
    margin-top: 10px;
    background-color: #368fd3;
    width: 80%;
    height: 150px;
    justify-content: center;
    align-items: center;
   

}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.containerFooter .containerFooter-quemSomos{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
